<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="panel-body">
	<%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  </div>
</div>

<!-- START Google Trusted Stores Order -->
<div id="gts-order" style="display:none;" translate="no">

  <!-- start order and merchant information -->
  <span id="gts-o-id"><%= @order.id %></span>
  <span id="gts-o-email"><%= @order.email %></span>
  <span id="gts-o-country"><%= @order.billing_address.country.iso %></span>
  <span id="gts-o-currency"><%= @order.currency %></span>
  <span id="gts-o-total"><%= @order.total.to_f %></span>
  <span id="gts-o-discounts"><%= @order.adjustment_total.to_f %></span>
  <span id="gts-o-shipping-total"><%= @order.shipment_total.to_f %></span>
  <span id="gts-o-tax-total"><%= @order.included_tax_total.to_f + @order.additional_tax_total.to_f %></span>
  <span id="gts-o-est-ship-date"><%= (Time.now + 5.day).strftime("%Y-%m-%d") %></span>
  <span id="gts-o-est-delivery-date"><%= (Time.now + 10.day).strftime("%Y-%m-%d") %></span>
  <span id="gts-o-has-preorder">N</span>
  <span id="gts-o-has-digital">N</span>
  <!-- end order and merchant information -->

  <!-- start repeated item specific information -->
  <!-- item example: this area repeated for each item in the order -->
  <% @order.line_items.each do |item| %>
    <span class="gts-item">
      <span class="gts-i-name"><%= item.product.name %></span>
      <span class="gts-i-price"><%= item.price.to_f %></span>
      <span class="gts-i-quantity"><%= item.quantity %></span>
      <span class="gts-i-prodsearch-id">123</span>
      <span class="gts-i-prodsearch-store-id">ITEM_GOOGLE_SHOPPING_ACCOUNT_ID</span>
    </span>
  <% end %>
  <!-- end item 1 example -->
  <!-- end repeated item specific information -->

</div>
<!-- END Google Trusted Stores Order -->

<div class="well text-center form-buttons" data-hook="buttons">
	<% if signed_in? %>

	<% else %>
		<div class="text-center">
		  <p><small>By placing my order, I acknowledge that I have read, understand and agree to be bound by the leemaeats.com website <a href="/terms-of-use" target="_blank">Terms of Use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</small></p>
		</div>
	<% end %>
  <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>

<!-- BEGIN: Google Trusted Stores -->
<script type="text/javascript">
  var gts = gts || [];

  gts.push(["id", "712102"]);
  gts.push(["badge_position", "BOTTOM_LEFT"]);
  gts.push(["locale", "en_US"]);

  (function() {
    var gts = document.createElement("script");
    gts.type = "text/javascript";
    gts.async = true;
    gts.src = "https://www.googlecommerce.com/trustedstores/api/js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(gts, s);
  })();
</script>
<!-- END: Google Trusted Stores -->