<% stars = @product.stars %>
<% reviews_count = @product.reviews_count %>
<% if reviews_count > 0 %>
  <div class="ratings">
    <p class="ratings-stars">
      <span title="<%= txt_stars(stars) %>">
        <%= render 'spree/reviews/stars', :stars => stars %>
      </span>
      (<%= Spree.t('based_upon_review_count', :count => reviews_count) %>)
    </p>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      <meta itemprop="ratingValue" content="<%= stars %>" />
      <meta itemprop="reviewCount" content="<%= reviews_count %>" />
      <meta itemprop="bestRating" content="5" />
      <meta itemprop="worstRating" content="1" />
    </div>
  </div>
<% end %>